/* Global scope */

:root {
    --primary-color: var(--orange-color);
    --primary-color-light: var(--orange-color-light);
    --primary-color-very-light: var(--orange-color-very-light);
    --primary-color-dark: var(--orange-color-dark);
    --primary-color-very-dark: var(--orange-color-very-dark);
    --primary-box-shadow-color: var(--orange-box-shadow-color);
    --primary-box-shadow-color-darker: var(--orange-box-shadow-color-darker);
    --text-color-on-primary-color-bg: var(--text-color-on-orange-color-bg);
    /* Card */
    --card-border-radius: 1.2rem;
    /* Before: var(--base-border-radius) */
    /* Card (light mode only) */
    --lm-card-bg-image: linear-gradient(#f7f7f7, #ced6e0);
    /* Before: none */
    --lm-card-border-color: #ffffff;
    /* Before: rgba(0, 0, 0, 0.2) */
    --lm-card-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    /* Before: none */
    /* Card (dark mode only) */
    --dm-card-bg-image: linear-gradient(#191c20, #111417);
    /* Before: none */
    --dm-card-border-color: rgba(255, 255, 255, 0.1);
    /* Before: rgba(0, 0, 0, 0.2) */
    --dm-card-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    /* Before: none */
    /* Input (light mode only) */
    --lm-input-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    /* Before: none */
    /* Input (dark mode only) */
    --dm-input-box-shadow: var(--lm-input-box-shadow);
    /* Before: none */
    /* Primary button (light mode only) */
    --lm-button-primary-bg-image: linear-gradient(var(--primary-color), var(--primary-color-dark));
    /* Before: none */
    --lm-button-primary-bg-image-hover: linear-gradient(var(--primary-color-light), var(--primary-color-dark));
    /* Before: none */
    /* Primary button (dark mode only) */
    --dm-button-primary-bg-image: linear-gradient(var(--primary-color), var(--primary-color-dark));
    /* Before: none */
    --dm-button-primary-bg-image-hover: linear-gradient(var(--primary-color-light), var(--primary-color-dark));
    /* Before: none */
}


/* Local scope */

.page-wrapper {
    background-color: rgb(252, 236, 236);
}

.center-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.alex-box {
    background-color: rgb(8, 8, 8);
    width: 80%;
    height: 70%;
    padding: 25px;
    color: white;
    overflow: scroll;
}

.hero {
    width: 60%;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.content-title {
    float: right;
    width: 30%;
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 28px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 0;
    background-color: white;
    box-shadow: -1rem 0 3rem #000;
}

.btn-primary {
    --button-height: 3.6rem;
    /* Before: 3.2rem (32px) */
    --button-border-width: 0;
    /* Before: var(--base-border-width) */
}